/* App specific colors for therebelrobot */

/*Whites/Grays/Blacks*/
@white: #FFFFFF;
@whitesmoke: #F5F5F5;
@lightgray: #EBEBEB;
@darktext: #5A5A5A;

@black: #000000;
@blacksmoke: #0A0A0A;
@darkgray: #141414;
@lighttext: #A5A5A5;

/*Browns*/

/*Reds*/

/*Oranges*/

/*Yellows*/

/*Greens*/

/*Blues*/

/*Purples*/